<!-- preloader - to remove it entirely, remove the line below but also the JS files for the preloader from above -->
<div id="page" class="homepage-hero-banner hfeed site wide-layout">

  <header id="header" class="site-header initial-state">
    <div class="container">
      <div class="three columns logo-container">
        <div class="site-branding">
          <div class="logo animated fadeInUp">
            <a href="homepage-revolution-slider.html" title="Stag - Portfolio Template for Freelancers and Agencies" rel="home">
              <img class="is-svg" src="assets/images/logo.svg" alt="Stag - Portfolio Template for Freelancers and Agencies" width="85" height="25" />
            </a>

          </div>
          <!--end logo-->

        </div>
        <!-- .site-branding -->
      </div>
      <!-- .three.columns -->

      <div class="nine columns nav-trigger classic-menu">

        <div class="header-nav">

          <nav id="site-navigation" class="main-navigation classic-menu light-header">
            <div class="menu-stag-wp-menu-container">
              <ul id="primary-menu" class="menu">
                <li class="menu-item menu-item-has-children"><a href="homepage-revolution-slider.html">Home</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="homepage-revolution-slider.html">Homepage  – Slider</a>
                    </li>
                    <li class="menu-item current-menu-item"><a href="homepage-hero-banner.html">Homepage – Hero Banner</a>
                    </li>
                    <li class="menu-item"><a href="homepage-hexagon-services.html">Homepage - Hexagons</a>
                    </li>
                    <li class="menu-item"><a href="homepage-fullscreen-intro.html">Homepage – Fullscreen Intro</a>
                    </li>
                    <li class="menu-item"><a href="homepage-hero-text.html">Homepage – Hero Text</a>
                    </li>
                    <li class="menu-item"><a href="homepage-parallax-one-page.html">Parallax One Page<sup>hot</sup></a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children"><a href="about-us.html">Pages</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="about-me.html">About Me</a>
                    </li>
                    <li class="menu-item"><a href="about-us.html">About Us</a>
                    </li>
                    <li class="menu-item"><a href="services.html">Services</a>
                    </li>
                    <li class="menu-item"><a href="contact-2.html">Contact Page 2</a>
                    </li>
                    <li class="menu-item"><a href="get-in-touch.html">Contact Page 3</a>
                    </li>
                    <li class="menu-item"><a href="elements.html">Elements</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children"><a href="portfolio-masonry-3-columns.html">Projects</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children"><a href="portfolio-regular-3-columns.html">Portfolio - Regular</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a href="portfolio-regular-2-columns.html">Regular - 2 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-regular-3-columns.html">Regular - 3 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-regular-4-columns.html">Regular - 4 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-regular-5-columns.html">Regular - 5 Cols</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="portfolio-regular-alt-3-columns.html">Portfolio - Regular Alt</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a href="portfolio-regular-alt-2-columns.html">Regular Alt - 2 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-regular-alt-3-columns.html">Regular Alt - 3 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-regular-alt-4-columns.html">Regular Alt - 4 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-regular-alt-5-columns.html">Regular Alt - 5 Cols</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="portfolio-masonry-3-columns.html">Portfolio - Masonry</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a href="portfolio-masonry-2-columns.html">Masonry - 2 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-masonry-3-columns.html">Masonry - 3 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-masonry-4-columns.html">Masonry - 4 Cols</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-masonry-5-columns.html">Masonry - 5 Cols</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item"><a href="portfolio-mosaic.html">Portfolio - Mosaic</a></li>
                    <li class="menu-item"><a href="portfolio-parallax.html">Portfolio - Parallax</a></li>
                    <li class="menu-item menu-item-has-children"><a href="portfolio-variation-style-1.html">Portfolio Variations</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a href="portfolio-variation-style-1.html">Variation Style 1</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-variation-style-2.html">Variation Style 2</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-variation-style-3.html">Variation Style 3</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-variation-style-4.html">Variation Style 4</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-variation-style-5.html">Variation Style 5</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-variation-style-6.html">Variation Style 6</a>
                        </li>
                        <li class="menu-item"><a href="portfolio-variation-style-7.html">Variation Style 7</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children"><a href="blog-minimal.html">Journal</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="blog-minimal.html">Blog Minimal</a>
                    </li>
                    <li class="menu-item"><a href="blog-regular-right-sidebar.html">Blog Regular - Right Sidebar</a>
                    </li>
                    <li class="menu-item"><a href="blog-regular-left-sidebar.html">Blog Regular – Left Sidebar</a>
                    </li>
                    <li class="menu-item"><a href="blog-regular-no-sidebar.html">Blog Regular – No Sidebar</a>
                    </li>
                    <li class="menu-item"><a href="blog-single-post.html">Blog - Single Post</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item"><a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- #site-navigation -->
        </div>
        <!-- .header-nav -->
      </div>
      <!-- .nine.columns-->

      <!-- remove the before and after marks to enable social icons in header. -->
      <!--
       <ul id="headersocial" class="classic-menu light-header">
          <li><a href="https://feeds.feedburner.com/deliciousthemes" title="rss" class="rss" target="_blank"><i class="fa fa-rss"></i></a>
          </li>
          <li><a href="https://www.facebook.com/deliciousthemes" title="facebook" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
      </ul> -->

      <!-- burger menu -->
      <div class="bm light-header classic-menu">
        <div class="bi burger-icon">
          <div id="burger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
      </div>

    </div>

  </header>
  <!-- #masthead -->


  <div id="hello"></div>

  <div class="menu-fixer"></div>

  <div id="content" class="site-content">


    <div id="primary" class="content-area percent-page no-sidebar">
      <main id="main" class="site-main">

        <article>

          <section id="hero-banner" class="delicious-section parallax-section lazy" data-original="assets/images/bg/testimonials-bg.jpg">
            <div class="lighter-overlay">
              <div class="space-100"></div>
              <div class="container">
                <div class="circle-wrapper">
                  <h3>we are</h3>
                  <div id="typed-strings">
                    <p>Creative</p>
                    <p>Innovative</p>
                    <p>STAG</p>
                  </div>
                  <span id="typed"></span>
                  <div class="space"></div>
                  <h5>- since 2008 -</h5>
                </div>
              </div>
              <!-- end container -->
              <div class="space-100"></div>
            </div><!--end lighter-overlay-->
          </section>

          <section id="homepage-hero-intro" class="delicious-section">
            <div class="space-100"></div>
            <div class="del-separator-bottom"></div>
            <div class="container">
              <div class="row">
                <div class="four columns">
                  <div class="process-item-wrapper alternative wow fadeInUp"><span class="process-item-symbol"><span>01</span></span>
                    <h3 class="process-item-title"><span class="pi-title">WE DESIGN.</span></h3>
                    <div class="process-item-content">Gathering ideas and thoughts on sheets of paper and lists. Works every time with great results!</div>
                  </div>
                </div>
                <div class="four columns">
                  <div class="process-item-wrapper alternative wow fadeInUp" data-wow-delay="0.25s"><span class="process-item-symbol"><span>02</span></span>
                    <h3 class="process-item-title"><span class="pi-title">WE DEVELOP.</span></h3>
                    <div class="process-item-content">Giving shape to thoughts and ideas using the tools we`ve got and the skills we master with passion!</div>
                  </div>
                </div>
                <div class="four columns">
                  <div class="process-item-wrapper alternative wow fadeInUp" data-wow-delay="0.5s"><span class="process-item-symbol"><span>03</span></span>
                    <h3 class="process-item-title"><span class="pi-title">WE DELIVER.</span></h3>
                    <div class="process-item-content">Transforming designs into real, awesome, ready to be used products, enjoyed by our users!</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space-70"></div>
          </section>

          <section class="delicious-section">
            <div class="space-120"></div>

            <div class="container">
              <div class="title-center">
                <div class="dt-title-wrapper">
                  <h2 class="section-title">NICE TO MEET YOU!</h2>
                  <h4 class="section-tagline">Cum sociis natoque penatibus et magnis dis parturient montes,<br />
                    nascetur ridiculus mus. Donec quam felis</h4>
                </div>

                <div class="space-80"></div>
              </div>
              <div class="row">
                <div class="four columns">
                  <div class="member-wrapper alt">
                    <div class="thumbnail-wrapper"><img class="" src="assets/images/team/team-member-1.jpg" width="600" height="450" alt="team-member-1" title="team-member-1" />
                      <div class="member-info">
                        <div class="member-social">
                          <ul>
                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a target="_blank" href="mailto:mail@company.com"><i class="fa fa-envelope-o"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="member-meta">
                      <h4>John Doe</h4><span>Project Manager</span>
                    </div>
                  </div>
                </div>
                <!-- four.columns-->

                <div class="four columns">
                  <div class="member-wrapper alt">
                    <div class="thumbnail-wrapper"><img class="" src="assets/images/team/team-member-2.jpg" width="600" height="450" alt="team-member-2" title="team-member-2" />
                      <div class="member-info">
                        <div class="member-social">
                          <ul>
                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="member-meta">
                      <h4>Mitchell Augustus</h4><span>Web Developer</span>
                    </div>
                  </div>
                </div>
                <!-- four.columns-->

                <div class="four columns">
                  <div class="member-wrapper alt">
                    <div class="thumbnail-wrapper"><img class="" src="assets/images/team/team-member-3.jpg" width="600" height="450" alt="team-member-3" title="team-member-3" />
                      <div class="member-info">
                        <div class="member-social">
                          <ul>
                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a target="_blank" href="mailto:mail@company.com"><i class="fa fa-envelope-o"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="member-meta">
                      <h4>Abigail Williams</h4><span>Creative Director</span>
                    </div>
                  </div>
                </div>
                <!-- four.columns-->
              </div>

            </div>

            <div class="space-120"></div>
          </section>

          <section id="homepage-hero-quote" class="delicious-section">
            <div class="container darker-overlay">
              <div class="space-100"></div>
              <div class="quote-size-medium align-center">
                <span class="quote-author">STEVE JOBS</span>
                <h2 class="parallax-quote">"“Design is not just what it looks like and feels like.<br />
                  Design is how it works.”"</h2>
              </div>
              <div class="space-100"></div>
            </div>
          </section>

          <section class="delicious-section">
            <div class="space-100"></div>
            <div class="container">
              <section class="delicious-grid trigger-on trigger-active">
                <div class="grid-meta align-center">
                  <h2 class="grid-title">LATEST PROJECTS</h2><a class="cat-trigger active">Filter</a>
                  <section id="filter_options" class="centered-wrapper ">
                    <ul id="filters" class="option-set clearfix" data-option-key="filter">
                      <li class="all-projects"><a data-filter="*" class="selected">All</a>
                      </li>
                      <li><a data-filter=".21">Branding</a>
                      </li>
                      <li><a data-filter=".22">Food</a>
                      </li>
                      <li><a data-filter=".23">Media</a>
                      </li>
                      <li><a data-filter=".24">Photography</a>
                      </li>
                      <li><a data-filter=".25">Print</a>
                      </li>
                      <li><a data-filter=".26">Travel</a>
                      </li>
                    </ul>
                  </section>
                </div>
                <div class="half-space"></div>
                <section id="portfolio-wrapper">
                  <ul class="portfolio isotope grid mfp-gallery portfolio-layout-mosaic">
                    <li class="wow fadeInUp grid-item 24 25  item-small">
                      <a class="img-anchor not-link dt-lightbox-gallery mfp-image" href="assets/images/portfolio/kinfolk.jpg">
                        <div class="project-hover"><i class="fa fa-search"></i>
                        </div><img src="assets/images/portfolio/kinfolk-640x395.jpg" alt="" />
                      </a>
                      <div class="dt-awesome-project">
                        <div class="dt-box-stripes"></div>
                        <div class="dt-awesome-project-inner">
                          <div class="grid-awesome-text">
                            <h3><a href="project-kinfolk.html">Kinfolk</a></h3>
                            <div class="grid-awesome-desc">Stack of magazines about fashion and style, sitting on a dusty coffee table...</div>
                            <div class="grid-item-awesome-cat">Photography, Print</div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="wow fadeInUp grid-item 21 25 26  item-small">
                      <a class="img-anchor" href="project-smartbulb.html">
                        <div class="project-hover"><i class="fa fa-external-link"></i>
                        </div><img src="assets/images/portfolio/lights-on-walls-640x395.jpg" alt="" />
                      </a>
                      <div class="dt-awesome-project">
                        <div class="dt-box-stripes"></div>
                        <div class="dt-awesome-project-inner">
                          <div class="grid-awesome-text">
                            <h3><a href="project-smartbulb.html">Smartbulb</a></h3>
                            <div class="grid-awesome-desc">Brighten up the party or improve your sleep with a set of smartbulbs.</div>
                            <div class="grid-item-awesome-cat">Branding, Print, Travel</div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="wow fadeInUp grid-item 21 23 25  item-small">
                      <a class="img-anchor" href="project-asian-influence.html">
                        <div class="project-hover"><i class="fa fa-external-link"></i>
                        </div><img src="assets/images/portfolio/book-mockup-640x395.jpg" alt="" />
                      </a>
                      <div class="dt-awesome-project">
                        <div class="dt-box-stripes"></div>
                        <div class="dt-awesome-project-inner">
                          <div class="grid-awesome-text">
                            <h3><a href="project-asian-influence.html">Asian Influence</a></h3>
                            <div class="grid-awesome-desc">A personal project with the single purpose of redefining life!</div>
                            <div class="grid-item-awesome-cat">Branding, Media, Print</div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="wow fadeInUp grid-item 22 24  item-small">
                      <a class="img-anchor not-link dt-lightbox-gallery mfp-iframe" href="https://vimeo.com/22439234">
                        <div class="project-hover"><i class="fa fa-play-circle"></i>
                        </div><img src="assets/images/portfolio/eco-bag-mockup-640x395.jpg" alt="" />
                      </a>
                      <div class="dt-awesome-project">
                        <div class="dt-box-stripes"></div>
                        <div class="dt-awesome-project-inner">
                          <div class="grid-awesome-text">
                            <h3><a href="project-sweetcake.html">Sweetcake</a></h3>
                            <div class="grid-awesome-desc">That it will never come again is what makes life so sweet.</div>
                            <div class="grid-item-awesome-cat">Food, Photography</div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="wow fadeInUp grid-item 22 24 26  item-small">
                      <a class="img-anchor" href="project-cereal.html">
                        <div class="project-hover"><i class="fa fa-external-link"></i>
                        </div><img src="assets/images/portfolio/lavender-flower-bucket-640x395.jpg" alt="" />
                      </a>
                      <div class="dt-awesome-project">
                        <div class="dt-box-stripes"></div>
                        <div class="dt-awesome-project-inner">
                          <div class="grid-awesome-text">
                            <h3><a href="project-cereal.html">Cereal</a></h3>
                            <div class="grid-awesome-desc">The best food to eat in the morning, after a great night sleep.</div>
                            <div class="grid-item-awesome-cat">Food, Photography, Travel</div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="wow fadeInUp grid-item 23 26  item-small">
                      <a class="img-anchor" href="project-workshop.html">
                        <div class="project-hover"><i class="fa fa-external-link"></i>
                        </div><img src="assets/images/portfolio/old-camera-640x395.jpg" alt="" />
                      </a>
                      <div class="dt-awesome-project">
                        <div class="dt-box-stripes"></div>
                        <div class="dt-awesome-project-inner">
                          <div class="grid-awesome-text">
                            <h3><a href="project-workshop.html">Workshop</a></h3>
                            <div class="grid-awesome-desc">Work in progress...</div>
                            <div class="grid-item-awesome-cat">Media, Travel</div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>
            </div>

            <div class="space-100"></div>
          </section>

          <section id="testimonials" class="delicious-section parallax-section lazy"  data-original="assets/images/bg/testimonials-bg.jpg">
            <div class="darker-overlay">
              <div class="space-100"></div>
              <div class="container">
                <div class="row">
                  <div class="four columns">
                    <div class="dt-title-wrapper">
                      <h2 class="section-title">TESTIMONIALS</h2>
                      <h4 class="section-tagline">What clients say about our work</h4>
                    </div>
                  </div>

                  <div class="eight columns">
                    <div class="testimonials-carousel testimonials-left">
                      <div id="owl-testimonials" class="owl-carousel testimonials-slider">
                        <div class="testimonial-item">
                          <p>The work they made impressed me on multiple levels. I have been very happy about the whole process and they have done a great job. They was fast and always helpful with our questions!</p><span class="line-separator"></span>
                          <p><span class="testimonial-name">Richard Nolan</span><em>,</em> <span class="testimonial-position">Safeway</span>
                          </p>
                        </div>
                        <div class="testimonial-item">
                          <p>We have been very much impressed by Patti Studio. They grasped our needs and produced a stunning design. Needless to say we are extremely satisfied with the results. Thank you!</p><span class="line-separator"></span>
                          <p><span class="testimonial-name">Elena Gonzales</span><em>,</em> <span class="testimonial-position">Envato</span>
                          </p>
                        </div>
                        <div class="testimonial-item">
                          <p>I`m very excited about the way that my new website looks. And all because of the awesome guys from Stag Studio.</p><span class="line-separator"></span>
                          <p><span class="testimonial-name">John Applemore</span><em>,</em> <span class="testimonial-position">Avnet</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end container -->

              <div class="space-100"></div>
            </div><!--end darker-overlay-->
          </section>

          <section class="delicious-section">
            <div class="space-120"></div>

            <div class="container">
              <div class="title-center">
                <div class="dt-title-wrapper">
                  <h2 class="section-title">Let`s Work Together</h2>
                  <h4 class="section-tagline">Get in touch with us to speak more about your project!</h4>
                </div>
              </div>
              <p class="section-intro aligncenter"><a class="dashed-link" href="homepage-revolution-slider.html">View our Work</a> or <a class="dashed-link" href="contact.html">Contact Us</a></p>
            </div>

            <div class="space-120"></div>
          </section>

        </article>

      </main>
      <!-- #main -->
    </div>
    <!-- #primary -->


  </div>
  <!-- #content -->

  <footer id="colophon" class="site-footer footer-centered">

    <div class="container">

      <div class="footer-logo">
        <a href="homepage-revolution-slider.html" title="Stag" rel="home"><img src="assets/images/logo.svg" width="85" height="25" alt="Stag" /></a>
      </div>

      <ul id="social" class="align-center">
        <li><a href="https://feeds.feedburner.com/deliciousthemes" title="rss" class="rss" target="_blank"><i class="fa fa-rss"></i></a>
        </li>
        <li><a href="https://www.facebook.com/deliciousthemes" title="facebook" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="https://twitter.com/deliciousthemes" title="twitter" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="#" title="google-plus" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
        </li>
        <li><a href="#" title="dribbble" class="dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
        </li>
      </ul>
      <div class="site-info">
        COPYRIGHT &copy; 2016 - STAG. ALL RIGHTS RESERVED </div>
      <!-- .site-info -->
    </div>
  </footer>
  <!-- #colophon -->

  <!-- to top arrow -->
  <a class="upbtn" href="#">
    <svg class="arrow-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="25 25 50 50" enable-background="new 0 0 100 100" xml:space="preserve">
                <g>
                    <path d="M42.8,47.5c0.4,0.4,1,0.4,1.4,0l4.8-4.8v21.9c0,0.6,0.4,1,1,1s1-0.4,1-1V42.7l4.8,4.8c0.4,0.4,1,0.4,1.4,0   c0.4-0.4,0.4-1,0-1.4L50,38.9l-7.2,7.2C42.4,46.5,42.4,47.1,42.8,47.5z" />
                </g>
            </svg>
  </a>
</div>
